In [1]:
!pip install fiftyone

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fiftyone
  Downloading fiftyone-0.17.2-py3-none-any.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 13.5 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from fiftyone) (2022.2.1)
Collecting Jinja2>=3
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 54.6 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from fiftyone) (1.0.2)
Requirement already satisfied: Pillow>=6.2 in /usr/local/lib/python3.7/dist-packages (from fiftyone) (7.1.2)
Collecting mongoengine==0.20.0
  Downloading mongoengine-0.20.0-py3-none-any.whl (106 kB)
     |████████████████████████████████| 106 kB 67.0 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiftyone) (57.4.0)
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Collecting sse-starlette<1,>=0.10.3
  Downloading sse_starlette-0.10.3-py3-none-any.whl (8.0 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from fiftyone) (0.8.10)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from fiftyone) (21.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fiftyone) (1.3.5)
Collecting Deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from fiftyone) (6.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from fiftyone) (0.16.0)
Collecting universal-analytics-python3<2,>=1.0.1
  Downloading universal_analytics_python3-1.1.1-py3-none-any.whl (10 kB)
Collecting dacite>=1.6.0
  Downloading dacite-1.6.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fiftyone) (1.21.6)
Collecting hypercorn>=0.13.2
  Downloading Hypercorn-0.14.3-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 6.7 MB/s
Collecting strawberry-graphql==0.96.0
  Downloading strawberry_graphql-0.96.0-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 87.8 MB/s
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     |████████████████████████████████| 79.9 MB 1.2 MB/s
Collecting pprintpp
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Collecting sseclient-py<2,>=1.7.2
  Downloading sseclient_py-1.7.2-py2.py3-none-any.whl (8.4 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from fiftyone) (5.4.8)
Collecting motor<3,>=2.3
  Downloading motor-2.5.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 4.9 MB/s
Collecting retrying
  Downloading retrying-1.3.3.tar.gz (10 kB)
Collecting voxel51-eta<0.9,>=0.8.1
  Downloading voxel51_eta-0.8.1-py2.py3-none-any.whl (564 kB)
     |████████████████████████████████| 564 kB 55.5 MB/s
Collecting pymongo<4,>=3.11
  Downloading pymongo-3.12.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (508 kB)
     |████████████████████████████████| 508 kB 84.4 MB/s
Collecting fiftyone-brain<0.10,>=0.9.1
  Downloading fiftyone_brain-0.9.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.4 MB/s
Requirement already satisfied: opencv-python-headless in /usr/local/lib/python3.7/dist-packages (from fiftyone) (4.6.0.66)
Requirement already satisfied: plotly>=4.14 in /usr/local/lib/python3.7/dist-packages (from fiftyone) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fiftyone) (3.2.2)
Collecting boto3
  Downloading boto3-1.24.84-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 66.1 MB/s
Collecting eventlet
  Downloading eventlet-0.33.1-py2.py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 65.9 MB/s
Requirement already satisfied: scikit-image in /usr/local/lib/python3.7/dist-packages (from fiftyone) (0.18.3)
Collecting aiofiles
  Downloading aiofiles-22.1.0-py3-none-any.whl (14 kB)
Collecting ndjson
  Downloading ndjson-0.3.1-py2.py3-none-any.whl (5.3 kB)
Collecting starlette==0.16.0
  Downloading starlette-0.16.0-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 289 kB/s
Collecting argcomplete
  Downloading argcomplete-2.0.0-py2.py3-none-any.whl (37 kB)
Collecting fiftyone-db<0.4,>=0.3
  Downloading fiftyone_db-0.3.0-py3-none-manylinux1_x86_64.whl (29.2 MB)
     |████████████████████████████████| 29.2 MB 1.5 MB/s
Collecting anyio<4,>=3.0.0
  Downloading anyio-3.6.1-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 10.0 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from starlette==0.16.0->fiftyone) (4.1.1)
Collecting sentinel<0.4.0,>=0.3.0
  Downloading sentinel-0.3.0-py3-none-any.whl (6.0 kB)
Collecting python-multipart<0.0.6,>=0.0.5
  Downloading python-multipart-0.0.5.tar.gz (32 kB)
Collecting backports.cached-property<2.0.0,>=1.0.1
  Downloading backports.cached_property-1.0.2-py3-none-any.whl (6.1 kB)
Requirement already satisfied: click<9.0,>=7.0 in /usr/local/lib/python3.7/dist-packages (from strawberry-graphql==0.96.0->fiftyone) (7.1.2)
Requirement already satisfied: pygments<3.0,>=2.3 in /usr/local/lib/python3.7/dist-packages (from strawberry-graphql==0.96.0->fiftyone) (2.6.1)
Collecting graphql-core<3.2.0,>=3.1.0
  Downloading graphql_core-3.1.7-py3-none-any.whl (189 kB)
     |████████████████████████████████| 189 kB 12.8 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from strawberry-graphql==0.96.0->fiftyone) (2.8.2)
Collecting sniffio>=1.1
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fiftyone) (2.10)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from fiftyone-brain<0.10,>=0.9.1->fiftyone) (1.7.3)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from hypercorn>=0.13.2->fiftyone) (0.10.2)
Collecting wsproto>=0.14.0
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting h11
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 7.1 MB/s
Collecting h2>=3.1.0
  Downloading h2-4.1.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 6.5 MB/s
Collecting priority
  Downloading priority-2.0.0-py3-none-any.whl (8.9 kB)
Collecting hyperframe<7,>=6.0
  Downloading hyperframe-6.0.1-py3-none-any.whl (12 kB)
Collecting hpack<5,>=4.0
  Downloading hpack-4.0.0-py3-none-any.whl (32 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=3->fiftyone) (2.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=4.14->fiftyone) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.14->fiftyone) (8.0.1)
Collecting httpx>=0.10.0
  Downloading httpx-0.23.0-py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 3.6 MB/s
Collecting rfc3986[idna2008]<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx>=0.10.0->universal-analytics-python3<2,>=1.0.1->fiftyone) (2022.6.15)
Collecting httpcore<0.16.0,>=0.15.0
  Downloading httpcore-0.15.0-py3-none-any.whl (68 kB)
     |████████████████████████████████| 68 kB 3.2 MB/s
Collecting h11
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.1 MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (2.4.0)
Collecting patool
  Downloading patool-1.12-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 6.6 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (2.23.0)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (1.5.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (1.24.3)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (0.3.5.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (4.12.0)
Requirement already satisfied: glob2 in /usr/local/lib/python3.7/dist-packages (from voxel51-eta<0.9,>=0.8.1->fiftyone) (0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->voxel51-eta<0.9,>=0.8.1->fiftyone) (3.8.1)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 9.2 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.28.0,>=1.27.84
  Downloading botocore-1.27.84-py3-none-any.whl (9.2 MB)
     |████████████████████████████████| 9.2 MB 63.2 MB/s
Collecting urllib3
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 88.9 MB/s
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from Deprecated->fiftyone) (1.14.1)
Collecting dnspython>=1.15.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 64.5 MB/s
Requirement already satisfied: greenlet>=0.3 in /usr/local/lib/python3.7/dist-packages (from eventlet->fiftyone) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fiftyone) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fiftyone) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fiftyone) (0.11.0)
Collecting urllib3
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 76.1 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->voxel51-eta<0.9,>=0.8.1->fiftyone) (3.0.4)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image->fiftyone) (1.3.0)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->fiftyone) (2.9.0)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.7/dist-packages (from scikit-image->fiftyone) (2021.11.2)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->fiftyone) (2.6.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fiftyone) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fiftyone) (1.1.0)
Building wheels for collected packages: python-multipart, retrying
  Building wheel for python-multipart (setup.py) ... done
  Created wheel for python-multipart: filename=python_multipart-0.0.5-py3-none-any.whl size=31678 sha256=ba0b952c3d448a183dc20e58077f60057840d3c77f038657469b6b16bbe4f8a7
  Stored in directory: /root/.cache/pip/wheels/2c/41/7c/bfd1c180534ffdcc0972f78c5758f89881602175d48a8bcd2c
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11447 sha256=fd1590e18491574ed566e046ad091bc5a1eb10fa63629079a55f597341d0ab33
  Stored in directory: /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built python-multipart retrying
Installing collected packages: sniffio, urllib3, rfc3986, jmespath, h11, anyio, hyperframe, httpcore, hpack, botocore, wsproto, starlette, sentinel, s3transfer, retrying, python-multipart, pymongo, priority, patool, ndjson, httpx, h2, graphql-core, dnspython, backports.cached-property, argcomplete, xmltodict, voxel51-eta, universal-analytics-python3, strawberry-graphql, sseclient-py, sse-starlette, pprintpp, motor, mongoengine, kaleido, Jinja2, hypercorn, fiftyone-db, fiftyone-brain, eventlet, Deprecated, dacite, boto3, aiofiles, fiftyone
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: pymongo
    Found existing installation: pymongo 4.2.0
    Uninstalling pymongo-4.2.0:
      Successfully uninstalled pymongo-4.2.0
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
Successfully installed Deprecated-1.2.13 Jinja2-3.1.2 aiofiles-22.1.0 anyio-3.6.1 argcomplete-2.0.0 backports.cached-property-1.0.2 boto3-1.24.84 botocore-1.27.84 dacite-1.6.0 dnspython-2.2.1 eventlet-0.33.1 fiftyone-0.17.2 fiftyone-brain-0.9.1 fiftyone-db-0.3.0 graphql-core-3.1.7 h11-0.12.0 h2-4.1.0 hpack-4.0.0 httpcore-0.15.0 httpx-0.23.0 hypercorn-0.14.3 hyperframe-6.0.1 jmespath-1.0.1 kaleido-0.2.1 mongoengine-0.20.0 motor-2.5.1 ndjson-0.3.1 patool-1.12 pprintpp-0.4.0 priority-2.0.0 pymongo-3.12.3 python-multipart-0.0.5 retrying-1.3.3 rfc3986-1.5.0 s3transfer-0.6.0 sentinel-0.3.0 sniffio-1.3.0 sse-starlette-0.10.3 sseclient-py-1.7.2 starlette-0.16.0 strawberry-graphql-0.96.0 universal-analytics-python3-1.1.1 urllib3-1.25.11 voxel51-eta-0.8.1 wsproto-1.2.0 xmltodict-0.13.0

In [2]:
pip install translators --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting translators
  Downloading translators-5.4.2-py3-none-any.whl (29 kB)
Collecting requests>=2.28.1
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.7/dist-packages (from translators) (4.9.1)
Collecting loguru>=0.6.0
  Downloading loguru-0.6.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 6.6 MB/s
Collecting pathos>=0.2.9
  Downloading pathos-0.2.9-py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 5.2 MB/s
Collecting PyExecJS>=1.5.1
  Downloading PyExecJS-1.5.1.tar.gz (13 kB)
Collecting ppft>=1.7.6.5
  Downloading ppft-1.7.6.5-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.3 MB/s
Collecting multiprocess>=0.70.13
  Downloading multiprocess-0.70.13-py37-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 91.7 MB/s
Collecting pox>=0.3.1
  Downloading pox-0.3.1-py2.py3-none-any.whl (28 kB)
Requirement already satisfied: dill>=0.3.5.1 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.9->translators) (0.3.5.1)
Requirement already satisfied: six>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from ppft>=1.7.6.5->pathos>=0.2.9->translators) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->translators) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->translators) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->translators) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->translators) (1.25.11)
Building wheels for collected packages: PyExecJS
  Building wheel for PyExecJS (setup.py) ... done
  Created wheel for PyExecJS: filename=PyExecJS-1.5.1-py3-none-any.whl size=14598 sha256=b3a37a91927dea698ddcff3386c3dda824585e44806814bcfbe8561273b30f0c
  Stored in directory: /root/.cache/pip/wheels/9a/ee/03/da5c0b4a8c13362beeb844eb913bbe58a89bde1de2b9157007
Successfully built PyExecJS
Installing collected packages: ppft, pox, multiprocess, requests, PyExecJS, pathos, loguru, translators
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed PyExecJS-1.5.1 loguru-0.6.0 multiprocess-0.70.13 pathos-0.2.9 pox-0.3.1 ppft-1.7.6.5 requests-2.28.1 translators-5.4.2

In [3]:
import pandas as pd
import numpy as np
import translators as ts
# untuk membaca dataframe secara full 
pd.set_option('display.max_columns', None)

Using state Groningen server backend.

### Customers

In [4]:
from google.colab import files
uploaded = files.upload()

Saving olist_customers_dataset.csv to olist_customers_dataset.csv

In [5]:
data_customers = pd.read_csv('olist_customers_dataset.csv')
data_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [6]:
data_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### Orders

In [7]:
from google.colab import files
uploaded = files.upload()

Saving olist_orders_dataset.csv to olist_orders_dataset.csv

In [8]:
data_orders = pd.read_csv('olist_orders_dataset.csv')
data_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [9]:
data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [10]:
gab_customers_orders = pd.merge(data_customers, data_orders, 
                           how='inner', 
                           on='customer_id')
gab_customers_orders

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

In [11]:
gab_customers_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_id                    99441 non-null  object
 1   customer_unique_id             99441 non-null  object
 2   customer_zip_code_prefix       99441 non-null  int64
 3   customer_city                  99441 non-null  object
 4   customer_state                 99441 non-null  object
 5   order_id                       99441 non-null  object
 6   order_status                   99441 non-null  object
 7   order_purchase_timestamp       99441 non-null  object
 8   order_approved_at              99281 non-null  object
 9   order_delivered_carrier_date   97658 non-null  object
 10  order_delivered_customer_date  96476 non-null  object
 11  order_estimated_delivery_date  99441 non-null  object
dtypes: int64(1), object(11)
memory usage: 9.9+ MB

### Order Review

In [12]:
from google.colab import files
uploaded = files.upload()

Saving olist_order_reviews_dataset.csv to olist_order_reviews_dataset.csv

In [13]:
data_order_review = pd.read_csv('olist_order_reviews_dataset.csv')
data_order_review

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [14]:
data_order_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [15]:
100*data_order_review.isna().sum()/len(data_order_review)

review_id                   0.000000
order_id                    0.000000
review_score                0.000000
review_comment_title       88.341530
review_comment_message     58.702532
review_creation_date        0.000000
review_answer_timestamp     0.000000
dtype: float64

In [ ]:
# drop review_comment_title 
data_order_review.drop(columns=['review_comment_title'], axis=1, inplace=True)

In [20]:
data_order_review

,review_id,order_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [30]:
gab_customers_orders_orderreview = pd.merge(gab_customers_orders, data_order_review,
                                               how='inner',
                                               on='order_id')
gab_customers_orders_orderreview

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,02fc48a9efa3e3d0f1a8ea26507eeec3,5,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,5ad6695d76ee186dc473c42706984d87,5,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,059a801bb31f6aab2266e672cab87bc5,5,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,8490879d58d6c5d7773f2739a03f089a,5,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99219,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00,36e2cdbaa9f639b57c53b37ac798fee8,4,NaN,2018-04-14 00:00:00,2018-04-28 11:15:04
99220,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00,b273b431c3aedb4eed18643309652940,5,NaN,2018-04-12 00:00:00,2018-04-16 10:36:05
99221,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00,fa4f16891e6b2edd1354668d07f5648b,1,Esperava qualidade no atendimento e estou tend...,2018-05-04 00:00:00,2018-05-08 01:41:07
99222,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00,0bcdc9e450ea500811a8d39ee993cd47,5,NaN,2017-11-17 00:00:00,2017-11-19 23:34:18
99223,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,d95d701d062d2bb88041768a63aa750d,5,"Produto chegou bem antes do prazo , gostei mui...",2017-12-27 00:00:00,2017-12-27 23:21:06

In [31]:
gab_customers_orders_orderreview.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99224 entries, 0 to 99223
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_id                    99224 non-null  object
 1   customer_unique_id             99224 non-null  object
 2   customer_zip_code_prefix       99224 non-null  int64
 3   customer_city                  99224 non-null  object
 4   customer_state                 99224 non-null  object
 5   order_id                       99224 non-null  object
 6   order_status                   99224 non-null  object
 7   order_purchase_timestamp       99224 non-null  object
 8   order_approved_at              99068 non-null  object
 9   order_delivered_carrier_date   97468 non-null  object
 10  order_delivered_customer_date  96359 non-null  object
 11  order_estimated_delivery_date  99224 non-null  object
 12  review_id                      99224 non-null  object
 13  review_score                   99224 non-null  int64
 14  review_comment_message         40977 non-null  object
 15  review_creation_date           99224 non-null  object
 16  review_answer_timestamp        99224 non-null  object
dtypes: int64(2), object(15)
memory usage: 13.6+ MB

In [32]:
100*gab_customers_orders_orderreview.isna().sum() / len(gab_customers_orders_orderreview)

customer_id                       0.000000
customer_unique_id                0.000000
customer_zip_code_prefix          0.000000
customer_city                     0.000000
customer_state                    0.000000
order_id                          0.000000
order_status                      0.000000
order_purchase_timestamp          0.000000
order_approved_at                 0.157220
order_delivered_carrier_date      1.769733
order_delivered_customer_date     2.887406
order_estimated_delivery_date     0.000000
review_id                         0.000000
review_score                      0.000000
review_comment_message           58.702532
review_creation_date              0.000000
review_answer_timestamp           0.000000
dtype: float64

In [33]:
gab_customers_orders_orderreview['order_approved_at'].value_counts()

2018-02-27 04:31:10    9
2018-02-27 04:31:04    7
2018-02-06 05:31:52    7
2018-02-27 04:31:01    7
2018-01-10 10:32:03    7
                      ..
2018-06-03 18:31:05    1
2017-02-14 15:50:16    1
2018-04-17 12:30:05    1
2018-03-04 11:29:21    1
2018-04-08 20:30:03    1
Name: order_approved_at, Length: 90082, dtype: int64

In [34]:
gab_customers_orders_orderreview['order_delivered_carrier_date'].value_counts()

2018-05-09 15:48:00    47
2018-05-10 18:29:00    32
2018-05-07 12:31:00    21
2018-05-02 15:15:00    16
2018-07-17 14:16:00    15
                       ..
2018-02-15 20:54:42     1
2017-10-26 16:59:01     1
2017-07-26 15:53:51     1
2017-12-16 00:55:02     1
2017-12-21 19:17:21     1
Name: order_delivered_carrier_date, Length: 80451, dtype: int64

In [35]:
gab_customers_orders_orderreview['order_delivered_customer_date'].value_counts()

2018-04-16 15:48:28    3
2018-07-24 21:36:42    3
2018-03-08 23:34:31    3
2018-04-06 17:38:34    3
2017-06-05 15:36:06    3
                      ..
2017-07-27 16:08:06    1
2018-08-29 10:28:47    1
2018-08-09 13:06:46    1
2018-05-10 19:05:36    1
2017-12-26 18:42:36    1
Name: order_delivered_customer_date, Length: 95022, dtype: int64

### Order items

In [29]:
from google.colab import files
uploaded = files.upload()

Saving olist_order_items_dataset.csv to olist_order_items_dataset.csv

In [36]:
data_order_items = pd.read_csv('olist_order_items_dataset.csv')
data_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [37]:
data_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [38]:
gab_customers_orders_orderreview_orderitem = pd.merge(gab_customers_orders_orderreview, data_order_items,
                                             how='inner', 
                                             on='order_id')
gab_customers_orders_orderreview_orderitem

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,02fc48a9efa3e3d0f1a8ea26507eeec3,5,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,5ad6695d76ee186dc473c42706984d87,5,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,059a801bb31f6aab2266e672cab87bc5,5,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,8490879d58d6c5d7773f2739a03f089a,5,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112367,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00,36e2cdbaa9f639b57c53b37ac798fee8,4,NaN,2018-04-14 00:00:00,2018-04-28 11:15:04,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88
112368,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00,b273b431c3aedb4eed18643309652940,5,NaN,2018-04-12 00:00:00,2018-04-16 10:36:05,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16
112369,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00,fa4f16891e6b2edd1354668d07f5648b,1,Esperava qualidade no atendimento e estou tend...,2018-05-04 00:00:00,2018-05-08 01:41:07,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04
112370,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00,0bcdc9e450ea500811a8d39ee993cd47,5,NaN,2017-11-17 00:00:00,2017-11-19 23:34:18,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07
112371,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,d95d701d062d2bb88041768a63aa750d,5,"Produto chegou bem antes do prazo , gostei mui...",2017-12-27 00:00:00,2017-12-27 23:21:06,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78

In [39]:
gab_customers_orders_orderreview_orderitem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112372 entries, 0 to 112371
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    112372 non-null  object
 1   customer_unique_id             112372 non-null  object
 2   customer_zip_code_prefix       112372 non-null  int64
 3   customer_city                  112372 non-null  object
 4   customer_state                 112372 non-null  object
 5   order_id                       112372 non-null  object
 6   order_status                   112372 non-null  object
 7   order_purchase_timestamp       112372 non-null  object
 8   order_approved_at              112357 non-null  object
 9   order_delivered_carrier_date   111188 non-null  object
 10  order_delivered_customer_date  110012 non-null  object
 11  order_estimated_delivery_date  112372 non-null  object
 12  review_id                      112372 non-null  object
 13  review_score                   112372 non-null  int64
 14  review_comment_message         47642 non-null   object
 15  review_creation_date           112372 non-null  object
 16  review_answer_timestamp        112372 non-null  object
 17  order_item_id                  112372 non-null  int64
 18  product_id                     112372 non-null  object
 19  seller_id                      112372 non-null  object
 20  shipping_limit_date            112372 non-null  object
 21  price                          112372 non-null  float64
 22  freight_value                  112372 non-null  float64
dtypes: float64(2), int64(3), object(18)
memory usage: 20.6+ MB

In [40]:
100*gab_customers_orders_orderreview_orderitem.isna().sum()/len(gab_customers_orders_orderreview_orderitem)

customer_id                       0.000000
customer_unique_id                0.000000
customer_zip_code_prefix          0.000000
customer_city                     0.000000
customer_state                    0.000000
order_id                          0.000000
order_status                      0.000000
order_purchase_timestamp          0.000000
order_approved_at                 0.013349
order_delivered_carrier_date      1.053643
order_delivered_customer_date     2.100167
order_estimated_delivery_date     0.000000
review_id                         0.000000
review_score                      0.000000
review_comment_message           57.603318
review_creation_date              0.000000
review_answer_timestamp           0.000000
order_item_id                     0.000000
product_id                        0.000000
seller_id                         0.000000
shipping_limit_date               0.000000
price                             0.000000
freight_value                     0.000000
dtype: float64

### Products

In [41]:
from google.colab import files
uploaded = files.upload()

Saving olist_products_dataset.csv to olist_products_dataset.csv

In [42]:
data_products = pd.read_csv('olist_products_dataset.csv')
data_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [43]:
data_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [44]:
100*data_products.isna().sum()/len(data_products)

product_id                    0.000000
product_category_name         1.851234
product_name_lenght           1.851234
product_description_lenght    1.851234
product_photos_qty            1.851234
product_weight_g              0.006070
product_length_cm             0.006070
product_height_cm             0.006070
product_width_cm              0.006070
dtype: float64

In [45]:
data_products[data_products['product_category_name'].isna()]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [46]:
100*610 / len(data_products)

1.8512336499650996

In [47]:
data_products.dropna(inplace=True)

In [48]:
100*data_products.isna().sum()/len(data_products)

product_id                    0.0
product_category_name         0.0
product_name_lenght           0.0
product_description_lenght    0.0
product_photos_qty            0.0
product_weight_g              0.0
product_length_cm             0.0
product_height_cm             0.0
product_width_cm              0.0
dtype: float64

In [50]:
customers_orders_orderreview_orderitem_products = pd.merge(gab_customers_orders_orderreview_orderitem, data_products, 
                                                  how='inner', 
                                                  on='product_id')
customers_orders_orderreview_orderitem_products

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,f6c6d3e1e20969a5eed982163f959719,fb354969e06f2093c0083cbfbb91864e,1521,sao paulo,SP,b2f58affcc178fea2daaf834f1acff5e,delivered,2018-07-14 14:08:11,2018-07-17 04:31:33,2018-07-25 11:18:00,2018-07-26 19:18:32,2018-07-30 00:00:00,17e0e42ddf0dd7ebceff457b7c1da303,3,NaN,2018-07-27 00:00:00,2018-07-29 22:34:18,1,9682ad2500ae8b2609e6a88eb0cbc5bb,0bf0150d5b9d60d9cd2906003332f085,2018-07-25 04:31:33,99.90,21.14,casa_conforto,32.0,373.0,1.0,1500.0,45.0,30.0,45.0
110769,da37711b17efd5f2539e8196ab215f04,5f2971f9805e3ccb030226e30c8e8390,4313,sao paulo,SP,c8203bb57639618630affac9e8e923dd,delivered,2017-03-27 23:04:18,2017-03-27 23:23:38,2017-03-28 14:18:59,2017-03-30 17:06:19,2017-04-13 00:00:00,f3642bae4843d919c4c53ec1ff8fe26d,4,NaN,2017-03-31 00:00:00,2017-04-04 01:37:20,1,aea06073397f809424f946979354c9f0,f45122a9ab94eb4f3f8953578bc0c560,2017-04-02 23:23:38,19.99,10.96,pet_shop,43.0,779.0,1.0,300.0,16.0,16.0,16.0
110770,184e0c2cfc746789643521df0e9ff904,c64ede6d0ae8901b1b6fb03528c1b7e6,68660,sao miguel do guama,PA,45b3000bcd10464ac178f32cd783fc83,delivered,2017-12-07 23:55:46,2017-12-09 23:50:32,2017-12-11 20:29:02,2018-01-05 17:59:38,2018-01-22 00:00:00,6dfe34036fd1f79225daeaca9cf083c2,4,Tive um pouco de dificuldade pelo fato do núme...,2018-01-06 00:00:00,2018-01-07 14:33:35,1,bbf975bffd2ae9ee52f513ae5c8a4b27,04aba03279157f6d4e0fe8ccaf21963c,2017-12-13 23:50:32,250.00,54.11,beleza_saude,40.0,1694.0,1.0,2400.0,33.0,10.0,16.0
110771,821a7275a08f32975caceff2e08ea262,046470763123d3d6364f89095b4e47ab,5734,sao paulo,SP,49645a8902c1ba980836b7bff991d69f,delivered,2018-04-04 17:50:52,2018-04-04 18:08:41,2018-04-05 16:36:49,2018-04-06 23:32:21,2018-04-18 00:00:00,260447daa5d738ced8f4e0bbee8a08a2,5,NaN,2018-04-07 00:00:00,2018-04-11 13:34:08,1,f6e0a9ce8a6e91c3a0ca2d3005911d20,cab85505710c7cb9b720bceb52b01cee,2018-04-10 18:08:41,84.90,7.46,fashion_bolsas_e_acessorios,29.0,498.0,4.0,300.0,16.0,16.0,11.0
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0

In [51]:
100*customers_orders_orderreview_orderitem_products.isna().sum()/len(customers_orders_orderreview_orderitem_products)

customer_id                       0.000000
customer_unique_id                0.000000
customer_zip_code_prefix          0.000000
customer_city                     0.000000
customer_state                    0.000000
order_id                          0.000000
order_status                      0.000000
order_purchase_timestamp          0.000000
order_approved_at                 0.012638
order_delivered_carrier_date      1.035451
order_delivered_customer_date     2.071805
order_estimated_delivery_date     0.000000
review_id                         0.000000
review_score                      0.000000
review_comment_message           57.629567
review_creation_date              0.000000
review_answer_timestamp           0.000000
order_item_id                     0.000000
product_id                        0.000000
seller_id                         0.000000
shipping_limit_date               0.000000
price                             0.000000
freight_value                     0.000000
product_category_name             0.000000
product_name_lenght               0.000000
product_description_lenght        0.000000
product_photos_qty                0.000000
product_weight_g                  0.000000
product_length_cm                 0.000000
product_height_cm                 0.000000
product_width_cm                  0.000000
dtype: float64

### Sellers

In [52]:
from google.colab import files
uploaded = files.upload()

Saving olist_sellers_dataset.csv to olist_sellers_dataset.csv

In [53]:
data_sellers = pd.read_csv('olist_sellers_dataset.csv')
data_sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [54]:
data_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [55]:
gabungandata_sellers = pd.merge(customers_orders_orderreview_orderitem_products, data_sellers, 
                       how='inner', 
                       on='seller_id')
gabungandata_sellers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP

In [56]:
100*gabungandata_sellers.isna().sum()/len(gabungandata_sellers)

customer_id                       0.000000
customer_unique_id                0.000000
customer_zip_code_prefix          0.000000
customer_city                     0.000000
customer_state                    0.000000
order_id                          0.000000
order_status                      0.000000
order_purchase_timestamp          0.000000
order_approved_at                 0.012638
order_delivered_carrier_date      1.035451
order_delivered_customer_date     2.071805
order_estimated_delivery_date     0.000000
review_id                         0.000000
review_score                      0.000000
review_comment_message           57.629567
review_creation_date              0.000000
review_answer_timestamp           0.000000
order_item_id                     0.000000
product_id                        0.000000
seller_id                         0.000000
shipping_limit_date               0.000000
price                             0.000000
freight_value                     0.000000
product_category_name             0.000000
product_name_lenght               0.000000
product_description_lenght        0.000000
product_photos_qty                0.000000
product_weight_g                  0.000000
product_length_cm                 0.000000
product_height_cm                 0.000000
product_width_cm                  0.000000
seller_zip_code_prefix            0.000000
seller_city                       0.000000
seller_state                      0.000000
dtype: float64

In [57]:
gabungandata_sellers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110773 entries, 0 to 110772
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    110773 non-null  object
 1   customer_unique_id             110773 non-null  object
 2   customer_zip_code_prefix       110773 non-null  int64
 3   customer_city                  110773 non-null  object
 4   customer_state                 110773 non-null  object
 5   order_id                       110773 non-null  object
 6   order_status                   110773 non-null  object
 7   order_purchase_timestamp       110773 non-null  object
 8   order_approved_at              110759 non-null  object
 9   order_delivered_carrier_date   109626 non-null  object
 10  order_delivered_customer_date  108478 non-null  object
 11  order_estimated_delivery_date  110773 non-null  object
 12  review_id                      110773 non-null  object
 13  review_score                   110773 non-null  int64
 14  review_comment_message         46935 non-null   object
 15  review_creation_date           110773 non-null  object
 16  review_answer_timestamp        110773 non-null  object
 17  order_item_id                  110773 non-null  int64
 18  product_id                     110773 non-null  object
 19  seller_id                      110773 non-null  object
 20  shipping_limit_date            110773 non-null  object
 21  price                          110773 non-null  float64
 22  freight_value                  110773 non-null  float64
 23  product_category_name          110773 non-null  object
 24  product_name_lenght            110773 non-null  float64
 25  product_description_lenght     110773 non-null  float64
 26  product_photos_qty             110773 non-null  float64
 27  product_weight_g               110773 non-null  float64
 28  product_length_cm              110773 non-null  float64
 29  product_height_cm              110773 non-null  float64
 30  product_width_cm               110773 non-null  float64
 31  seller_zip_code_prefix         110773 non-null  int64
 32  seller_city                    110773 non-null  object
 33  seller_state                   110773 non-null  object
dtypes: float64(9), int64(4), object(21)
memory usage: 29.6+ MB

### Extract Month, Weekday, Hour

In [58]:
gabungandata_sellers['order_purchase_timestamp'] = gabungandata_sellers['order_purchase_timestamp'].astype('datetime64[ns]')

In [59]:
gabungandata_sellers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110773 entries, 0 to 110772
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    110773 non-null  object
 1   customer_unique_id             110773 non-null  object
 2   customer_zip_code_prefix       110773 non-null  int64
 3   customer_city                  110773 non-null  object
 4   customer_state                 110773 non-null  object
 5   order_id                       110773 non-null  object
 6   order_status                   110773 non-null  object
 7   order_purchase_timestamp       110773 non-null  datetime64[ns]
 8   order_approved_at              110759 non-null  object
 9   order_delivered_carrier_date   109626 non-null  object
 10  order_delivered_customer_date  108478 non-null  object
 11  order_estimated_delivery_date  110773 non-null  object
 12  review_id                      110773 non-null  object
 13  review_score                   110773 non-null  int64
 14  review_comment_message         46935 non-null   object
 15  review_creation_date           110773 non-null  object
 16  review_answer_timestamp        110773 non-null  object
 17  order_item_id                  110773 non-null  int64
 18  product_id                     110773 non-null  object
 19  seller_id                      110773 non-null  object
 20  shipping_limit_date            110773 non-null  object
 21  price                          110773 non-null  float64
 22  freight_value                  110773 non-null  float64
 23  product_category_name          110773 non-null  object
 24  product_name_lenght            110773 non-null  float64
 25  product_description_lenght     110773 non-null  float64
 26  product_photos_qty             110773 non-null  float64
 27  product_weight_g               110773 non-null  float64
 28  product_length_cm              110773 non-null  float64
 29  product_height_cm              110773 non-null  float64
 30  product_width_cm               110773 non-null  float64
 31  seller_zip_code_prefix         110773 non-null  int64
 32  seller_city                    110773 non-null  object
 33  seller_state                   110773 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(4), object(20)
memory usage: 29.6+ MB

In [60]:
gabungandata_sellers['month_of_purchase'] = gabungandata_sellers['order_purchase_timestamp'].dt.month_name()
gabungandata_sellers['weekday_of_purchase'] = gabungandata_sellers['order_purchase_timestamp'].dt.day_name()
gabungandata_sellers['hour_of_purchase'] = gabungandata_sellers['order_purchase_timestamp'].dt.strftime("%H:%M")


## Fungsi untuk mendapatkan bagian dalam suatu hari 
def get_part_of_day(h):
    return (
        "morning"
        if 5 <= h <= 11
        else "afternoon"
        if 12 <= h <= 17
        else "evening"
        if 18 <= h <= 22
        else "night"
    )

gabungandata_sellers['part_of_day_of_purchase'] = gabungandata_sellers['order_purchase_timestamp'].dt.hour.apply(get_part_of_day)
gabungandata_sellers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,month_of_purchase,weekday_of_purchase,hour_of_purchase,part_of_day_of_purchase
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Tuesday,15:05,afternoon
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Sunday,20:11,evening
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,February,Saturday,19:45,evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP,July,Monday,22:08,evening
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR,August,Wednesday,18:58,evening
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP,August,Monday,12:37,afternoon
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR,August,Saturday,20:59,evening
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP,November,Tuesday,12:04,afternoon

### Data marketing

In [61]:
from google.colab import files
uploaded = files.upload()

Saving marketing_data.xlsx to marketing_data.xlsx

In [62]:
data_marketing = pd.read_excel('marketing_data.xlsx')
data_marketing

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0

In [63]:
data_marketing['Monetary'] = data_marketing[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts']].sum(axis=1)
data_marketing

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0,783
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1,540
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0,219
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0,11
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0,563
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0,31
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0,290
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0,1155
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0,934

In [64]:
## membuat rating recency dimulai dari bins untuk rating 0-14 < 14-30 < 30-45 < 45-75 < 75-100
data_marketing['Recency_Rating'] = pd.cut(x=data_marketing['Recency'], 
                                   bins=[0, 14, 30, 45, 75, 99], 
                                   labels=['5', '4', '3', '2', '1'], ## Label harus menerima tipe data str
                                   include_lowest=True, ## supaya nilai terendah (0) ikut masuk bin 
                                   )

## membuat rating monetary dimulai dari bins untuk rating (<100) < 1000-499 < 500-999 < 1000-2000 < (>2000)
data_marketing['Monetary_Rating'] = pd.cut(x=data_marketing['Monetary'], 
                                    bins=[0, 100, 500, 1000, 2001, np.inf], 
                                    labels=['1', '2', '3', '4', '5'], ## Label harus menerima tipe data str
                                    right = False)

## membuat rating frequency dimulai dari bins untuk rating (<100) < 1000-499 < 500-999 < 1000-2000 < (>2000)
data_marketing['Frequency_Rating'] = pd.cut(x=data_marketing['NumWebPurchases'], 
                                     bins=[0, 5, 10, 15, 21, np.inf], 
                                     labels=['1', '2', '3', '4', '5'], ## Label harus menerima tipe data str
                                     right = False)

data_marketing

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0,783,5,3,1
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1,540,5,3,2
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0,219,5,2,1
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0,11,5,1,1
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0,57,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0,563,1,3,2
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0,31,1,1,1
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0,290,1,2,2
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0,1155,1,4,2
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0,934,1,3,2

In [65]:
data_marketing['RFM_Rating'] = data_marketing[['Recency_Rating', 'Frequency_Rating', 'Monetary_Rating']].astype(int).mean(axis=1).apply(round)
data_marketing

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating,RFM_Rating
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0,783,5,3,1,3
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1,540,5,3,2,3
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0,219,5,2,1,3
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0,11,5,1,1,2
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0,57,5,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0,563,1,3,2,2
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0,31,1,1,1,1
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0,290,1,2,2,2
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0,1155,1,4,2,2
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0,934,1,3,2,2

In [66]:
## Cutomer Labelling menggunakan regex 
segmentasi_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cannot_loose_them',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

data_marketing['Customer_Label'] =(data_marketing['Recency_Rating'].astype(str) + data_marketing['Frequency_Rating'].astype(str)).replace(segmentasi_map, regex=True)
data_marketing

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating,RFM_Rating,Customer_Label
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0,783,5,3,1,3,new_customers
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1,540,5,3,2,3,potential_loyalists
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0,219,5,2,1,3,new_customers
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0,11,5,1,1,2,new_customers
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0,57,5,1,1,2,new_customers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0,563,1,3,2,2,hibernating
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0,31,1,1,1,1,hibernating
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0,290,1,2,2,2,hibernating
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0,1155,1,4,2,2,hibernating
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0,934,1,3,2,2,hibernating

In [67]:
sales_marketing = pd.merge(gabungandata_sellers, data_marketing, 
                           left_index=True, right_index=True,
                           how='outer')
sales_marketing

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,month_of_purchase,weekday_of_purchase,hour_of_purchase,part_of_day_of_purchase,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating,RFM_Rating,Customer_Label
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Tuesday,15:05,afternoon,1826.0,1970.0,Graduation,Divorced,"$84,835.00",6/16/14,0.0,189.0,104.0,379.0,111.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,783.0,5,3,1,3.0,new_customers
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,1.0,1961.0,Graduation,Single,"$57,091.00",6/15/14,0.0,464.0,5.0,64.0,7.0,7.0,5.0,0.0,0.0,0.0,0.0,1.0,540.0,5,3,2,3.0,potential_loyalists
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,10476.0,1958.0,Graduation,Married,"$67,267.00",5/13/14,0.0,134.0,11.0,59.0,15.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,219.0,5,2,1,3.0,new_customers
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Sunday,20:11,evening,1386.0,1967.0,Graduation,Together,"$32,474.00",5/11/14,0.0,10.0,0.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,0.0,11.0,5,1,1,2.0,new_customers
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,February,Saturday,19:45,evening,5371.0,1989.0,Graduation,Single,"$21,474.00",4/8/14,0.0,6.0,16.0,24.0,11.0,3.0,7.0,1.0,0.0,0.0,0.0,0.0,57.0,5,1,1,2.0,new_customers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP,July,Monday,22:08,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR,August,Wednesday,18:58,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP,August,Monday,12:37,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR,August,Saturday,20:59,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP,November,Tuesday,12:04,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### A/B Testing

In [68]:
!pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.12.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [69]:
import pandas as pd
import numpy as np 

from statsmodels.stats.proportion import power_proportions_2indep, test_proportions_2indep
from statsmodels.stats.weightstats import ttest_ind
from statsmodels.stats.power import tt_ind_solve_power
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
from google.colab import files
uploaded = files.upload()

Saving ab.csv to ab.csv

In [71]:
df = pd.read_csv('ab.csv')
df.sort_values(by='timestamp')

        user_id                   timestamp      group landing_page  converted
131228   922696  2017-01-02 13:42:05.378582  treatment     new_page          0
184884   781507  2017-01-02 13:42:15.234051    control     old_page          0
83878    737319  2017-01-02 13:42:21.786186    control     old_page          0
102717   818377  2017-01-02 13:42:26.640581  treatment     new_page          0
158789   725857  2017-01-02 13:42:27.851110  treatment     new_page          0
...         ...                         ...        ...          ...        ...
153305   851645  2017-01-24 13:41:18.869978  treatment     old_page          0
47535    808330  2017-01-24 13:41:19.152664    control     old_page          0
157787   843121  2017-01-24 13:41:44.097174  treatment     new_page          0
179072   836373  2017-01-24 13:41:52.604673    control     old_page          0
193652   920411  2017-01-24 13:41:54.460509    control     old_page          0

[294478 rows x 5 columns]

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [73]:
df['group'].value_counts()

treatment    147276
control      147202
Name: group, dtype: int64

In [74]:
df['landing_page'].value_counts()

old_page    147239
new_page    147239
Name: landing_page, dtype: int64

In [75]:
data = df.copy().drop(columns=['user_id', 'landing_page'])
data

                         timestamp      group  converted
0       2017-01-21 22:11:48.556739    control          0
1       2017-01-12 08:01:45.159739    control          0
2       2017-01-11 16:55:06.154213  treatment          0
3       2017-01-08 18:28:03.143765  treatment          0
4       2017-01-21 01:52:26.210827    control          1
...                            ...        ...        ...
294473  2017-01-03 22:28:38.630509    control          0
294474  2017-01-12 00:51:57.078372    control          0
294475  2017-01-22 11:45:03.439544    control          0
294476  2017-01-15 01:20:28.957438    control          0
294477  2017-01-16 12:40:24.467417  treatment          0

[294478 rows x 3 columns]

#### Ekstrak tanggal dari timestamp

In [76]:
data['date'] = pd.to_datetime(data['timestamp']).dt.date
data.sort_values(by='timestamp')

                         timestamp      group  converted        date
131228  2017-01-02 13:42:05.378582  treatment          0  2017-01-02
184884  2017-01-02 13:42:15.234051    control          0  2017-01-02
83878   2017-01-02 13:42:21.786186    control          0  2017-01-02
102717  2017-01-02 13:42:26.640581  treatment          0  2017-01-02
158789  2017-01-02 13:42:27.851110  treatment          0  2017-01-02
...                            ...        ...        ...         ...
153305  2017-01-24 13:41:18.869978  treatment          0  2017-01-24
47535   2017-01-24 13:41:19.152664    control          0  2017-01-24
157787  2017-01-24 13:41:44.097174  treatment          0  2017-01-24
179072  2017-01-24 13:41:52.604673    control          0  2017-01-24
193652  2017-01-24 13:41:54.460509    control          0  2017-01-24

[294478 rows x 4 columns]

#### Jumlah Visit, Converted yang digroup by date

In [77]:
ab_test = data[['group', 'converted', 'date']]
ab_test

            group  converted        date
0         control          0  2017-01-21
1         control          0  2017-01-12
2       treatment          0  2017-01-11
3       treatment          0  2017-01-08
4         control          1  2017-01-21
...           ...        ...         ...
294473    control          0  2017-01-03
294474    control          0  2017-01-12
294475    control          0  2017-01-22
294476    control          0  2017-01-15
294477  treatment          0  2017-01-16

[294478 rows x 3 columns]

In [78]:
# Mengambil value dari control_visit, treatment_visit, control_converted, treatment_converted 
value = ab_test.groupby(['date', 'group']).agg(['count', 'sum']).unstack().reset_index().values
value

array([[datetime.date(2017, 1, 2), 2894, 2889, 362, 348],
       [datetime.date(2017, 1, 3), 6684, 6710, 760, 762],
       [datetime.date(2017, 1, 4), 6655, 6629, 810, 773],
       [datetime.date(2017, 1, 5), 6538, 6586, 801, 758],
       [datetime.date(2017, 1, 6), 6684, 6844, 778, 848],
       [datetime.date(2017, 1, 7), 6678, 6703, 805, 776],
       [datetime.date(2017, 1, 8), 6769, 6795, 805, 821],
       [datetime.date(2017, 1, 9), 6725, 6714, 806, 794],
       [datetime.date(2017, 1, 10), 6745, 6778, 763, 858],
       [datetime.date(2017, 1, 11), 6787, 6766, 808, 785],
       [datetime.date(2017, 1, 12), 6615, 6707, 809, 820],
       [datetime.date(2017, 1, 13), 6649, 6589, 779, 734],
       [datetime.date(2017, 1, 14), 6635, 6694, 842, 799],
       [datetime.date(2017, 1, 15), 6809, 6640, 823, 757],
       [datetime.date(2017, 1, 16), 6683, 6644, 816, 795],
       [datetime.date(2017, 1, 17), 6691, 6631, 818, 844],
       [datetime.date(2017, 1, 18), 6578, 6707, 820, 835],
       [datetime.date(2017, 1, 19), 6665, 6628, 795, 780],
       [datetime.date(2017, 1, 20), 6626, 6767, 763, 797],
       [datetime.date(2017, 1, 21), 6823, 6652, 859, 772],
       [datetime.date(2017, 1, 22), 6675, 6748, 796, 795],
       [datetime.date(2017, 1, 23), 6783, 6728, 854, 814],
       [datetime.date(2017, 1, 24), 3811, 3727, 451, 449]], dtype=object)

In [80]:
ab_test = pd.DataFrame(value, columns=['date_ab_test', 'control_visit', 'treatment_visit', 'control_converted', 'treatment_converted'])
ab_test

,date_ab_test,control_visit,treatment_visit,control_converted,treatment_converted
0,2017-01-02,2894,2889,362,348
1,2017-01-03,6684,6710,760,762
2,2017-01-04,6655,6629,810,773
3,2017-01-05,6538,6586,801,758
4,2017-01-06,6684,6844,778,848
5,2017-01-07,6678,6703,805,776
6,2017-01-08,6769,6795,805,821
7,2017-01-09,6725,6714,806,794
8,2017-01-10,6745,6778,763,858
9,2017-01-11,6787,6766,808,785
10,2017-01-12,6615,6707,809,820
11,2017-01-13,6649,6589,779,734
12,2017-01-14,6635,6694,842,799
13,2017-01-15,6809,6640,823,757
14,2017-01-16,6683,6644,816,795
15,2017-01-17,6691,6631,818,844
16,2017-01-18,6578,6707,820,835
17,2017-01-19,6665,6628,795,780
18,2017-01-20,6626,6767,763,797
19,2017-01-21,6823,6652,859,772
20,2017-01-22,6675,6748,796,795
21,2017-01-23,6783,6728,854,814
22,2017-01-24,3811,3727,451,449

In [81]:
ab_test = ab_test.set_index('date_ab_test').cumsum() #cummulative sum
ab_test

,control_visit,treatment_visit,control_converted,treatment_converted
date_ab_test,,,,
2017-01-02,2894,2889,362,348
2017-01-03,9578,9599,1122,1110
2017-01-04,16233,16228,1932,1883
2017-01-05,22771,22814,2733,2641
2017-01-06,29455,29658,3511,3489
2017-01-07,36133,36361,4316,4265
2017-01-08,42902,43156,5121,5086
2017-01-09,49627,49870,5927,5880
2017-01-10,56372,56648,6690,6738
2017-01-11,63159,63414,7498,7523
2017-01-12,69774,70121,8307,8343
2017-01-13,76423,76710,9086,9077
2017-01-14,83058,83404,9928,9876
2017-01-15,89867,90044,10751,10633
2017-01-16,96550,96688,11567,11428
2017-01-17,103241,103319,12385,12272
2017-01-18,109819,110026,13205,13107
2017-01-19,116484,116654,14000,13887
2017-01-20,123110,123421,14763,14684
2017-01-21,129933,130073,15622,15456
2017-01-22,136608,136821,16418,16251
2017-01-23,143391,143549,17272,17065
2017-01-24,147202,147276,17723,17514

In [82]:
ab_test['control_converted_rate'] = ab_test['control_converted'] / ab_test['control_visit'] 
ab_test['treatment_converted_rate'] = ab_test['treatment_converted'] / ab_test['treatment_visit'] 
ab_test

,control_visit,treatment_visit,control_converted,treatment_converted,control_converted_rate,treatment_converted_rate
date_ab_test,,,,,,
2017-01-02,2894,2889,362,348,0.125086,0.120457
2017-01-03,9578,9599,1122,1110,0.117143,0.115637
2017-01-04,16233,16228,1932,1883,0.119017,0.116034
2017-01-05,22771,22814,2733,2641,0.120021,0.115762
2017-01-06,29455,29658,3511,3489,0.119199,0.117641
2017-01-07,36133,36361,4316,4265,0.119448,0.117296
2017-01-08,42902,43156,5121,5086,0.119365,0.117852
2017-01-09,49627,49870,5927,5880,0.119431,0.117907
2017-01-10,56372,56648,6690,6738,0.118676,0.118945
2017-01-11,63159,63414,7498,7523,0.118716,0.118633
2017-01-12,69774,70121,8307,8343,0.119056,0.11898
2017-01-13,76423,76710,9086,9077,0.118891,0.118329
2017-01-14,83058,83404,9928,9876,0.119531,0.118412
2017-01-15,89867,90044,10751,10633,0.119632,0.118087
2017-01-16,96550,96688,11567,11428,0.119803,0.118195
2017-01-17,103241,103319,12385,12272,0.119962,0.118778
2017-01-18,109819,110026,13205,13107,0.120243,0.119126
2017-01-19,116484,116654,14000,13887,0.120188,0.119044
2017-01-20,123110,123421,14763,14684,0.119917,0.118975
2017-01-21,129933,130073,15622,15456,0.120231,0.118826
2017-01-22,136608,136821,16418,16251,0.120183,0.118776
2017-01-23,143391,143549,17272,17065,0.120454,0.118879
2017-01-24,147202,147276,17723,17514,0.120399,0.11892

In [83]:
def p_value(ab_test):

  result = test_proportions_2indep(count1=ab_test["treatment_converted"], 
                                   nobs1=ab_test["treatment_visit"], 
                                   count2=ab_test["control_converted"], 
                                   nobs2=ab_test["control_visit"],
                                   alternative="two-sided")
  return result[1]

In [84]:
def power(ab_test):

  test_split = ab_test['treatment_visit'] / (ab_test['treatment_visit'] + ab_test['control_visit'])
  relative_effect = (ab_test['treatment_converted_rate'] - ab_test['control_converted_rate'])/ab_test['control_converted_rate']  

  power_result = power_proportions_2indep(diff=ab_test['control_converted_rate'] * relative_effect,
                                               prop2=ab_test['control_converted_rate'], 
                                               nobs1=ab_test['treatment_visit'],
                                               ratio=(1-test_split)/test_split,
                                               alpha=0.05,
                                               alternative='two-sided',
                                               return_results=False)
  return power_result

In [86]:
ab_test['p_value'] = ab_test.apply(p_value, axis=1)
ab_test['power'] = ab_test.apply(power, axis=1)
ab_test

,control_visit,treatment_visit,control_converted,treatment_converted,control_converted_rate,treatment_converted_rate,p_value,power
date_ab_test,,,,,,,,
2017-01-02,2894,2889,362,348,0.125086,0.120457,0.592186,0.083522
2017-01-03,9578,9599,1122,1110,0.117143,0.115637,0.745064,0.062217
2017-01-04,16233,16228,1932,1883,0.119017,0.116034,0.404180,0.132753
2017-01-05,22771,22814,2733,2641,0.120021,0.115762,0.158646,0.291715
2017-01-06,29455,29658,3511,3489,0.119199,0.117641,0.557845,0.090324
2017-01-07,36133,36361,4316,4265,0.119448,0.117296,0.369942,0.146265
2017-01-08,42902,43156,5121,5086,0.119365,0.117852,0.492331,0.105681
2017-01-09,49627,49870,5927,5880,0.119431,0.117907,0.457241,0.115484
2017-01-10,56372,56648,6690,6738,0.118676,0.118945,0.888844,0.052248
2017-01-11,63159,63414,7498,7523,0.118716,0.118633,0.963503,0.050240
2017-01-12,69774,70121,8307,8343,0.119056,0.11898,0.965077,0.050220
2017-01-13,76423,76710,9086,9077,0.118891,0.118329,0.733720,0.063384
2017-01-14,83058,83404,9928,9876,0.119531,0.118412,0.480630,0.108771
2017-01-15,89867,90044,10751,10633,0.119632,0.118087,0.311124,0.173401
2017-01-16,96550,96688,11567,11428,0.119803,0.118195,0.274866,0.193937
2017-01-17,103241,103319,12385,12272,0.119962,0.118778,0.406532,0.131920
2017-01-18,109819,110026,13205,13107,0.120243,0.119126,0.419850,0.127307
2017-01-19,116484,116654,14000,13887,0.120188,0.119044,0.394807,0.136247
2017-01-20,123110,123421,14763,14684,0.119917,0.118975,0.470737,0.111480
2017-01-21,129933,130073,15622,15456,0.120231,0.118826,0.269312,0.197366
2017-01-22,136608,136821,16418,16251,0.120183,0.118776,0.256515,0.205717
2017-01-23,143391,143549,17272,17065,0.120454,0.118879,0.193835,0.255100
2017-01-24,147202,147276,17723,17514,0.120399,0.11892,0.216126,0.235568

In [95]:
ab_test.to_excel('ab_test_result.xlsx')

# Mencari Repeat Order dan Menggabungkan AB-Testing

In [87]:
sales_performance = sales_marketing.iloc[:, :37]
sales_performance

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,month_of_purchase,weekday_of_purchase,hour_of_purchase
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Tuesday,15:05
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Sunday,20:11
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,February,Saturday,19:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP,July,Monday,22:08
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR,August,Wednesday,18:58
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP,August,Monday,12:37
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR,August,Saturday,20:59
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP,November,Tuesday,12:04

## Repeat Order

In [88]:
customer = sales_performance.groupby('customer_unique_id').nunique()[['customer_id', 'order_purchase_timestamp']]
customer

                                  customer_id  order_purchase_timestamp
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2            1                         1
0000b849f77a49e4a4ce2b2a4ca5be3f            1                         1
0000f46a3911fa3c0805444483337064            1                         1
0000f6ccb0745a6a4b88665a16c9f078            1                         1
0004aac84e0df4da2b147fca70cf8255            1                         1
...                                       ...                       ...
fffcf5a5ff07b0908bd4e2dbc735a684            1                         1
fffea47cd6d3cc0a88bd621562a9d061            1                         1
ffff371b4d645b6ecea244b27531430a            1                         1
ffff5962728ec6157033ef9805bacc48            1                         1
ffffd2657e2aad2907e67c3e9daecbeb            1                         1

[93416 rows x 2 columns]

In [89]:
customer[(customer['customer_id'] > 1) & (customer['order_purchase_timestamp'] > 1)].sort_values(by='customer_id')

                                  customer_id  order_purchase_timestamp
customer_unique_id
004288347e5e88a27ded2bb23747066c            2                         2
a2ee01609cebac76651bfc4814f5500e            2                         2
a30af9d68fbfcafb8451854c528587f5            2                         2
a31ef19138e1e8ddad1c8c30612a044d            2                         2
a327e19095ffb086d25f7ee477c9d3c6            2                         2
...                                       ...                       ...
6469f99c1f9dfae7733b25662e7f1782            7                         7
ca77025e7201e3b30c44b472ff346268            7                         7
1b6c7548a2a1f9037c1fd3ddfed95f33            7                         7
3e43e6105506432c953e165fb2acf44c            9                         9
8d50f5eadf50201ccdcedfb9e2ac8455           15                        15

[2568 rows x 2 columns]

In [90]:
customer = customer.reset_index()

In [91]:
def status_repeat(df):
  if (df['customer_id'] > 1) and (df['order_purchase_timestamp'] > 1):
    return 'yes'
  return 'no'

In [92]:
customer['Repeat_Order'] = customer.apply(status_repeat, axis=1)
customer

,customer_unique_id,customer_id,order_purchase_timestamp,Repeat_Order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,1,no
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,1,no
2,0000f46a3911fa3c0805444483337064,1,1,no
3,0000f6ccb0745a6a4b88665a16c9f078,1,1,no
4,0004aac84e0df4da2b147fca70cf8255,1,1,no
...,...,...,...,...
93411,fffcf5a5ff07b0908bd4e2dbc735a684,1,1,no
93412,fffea47cd6d3cc0a88bd621562a9d061,1,1,no
93413,ffff371b4d645b6ecea244b27531430a,1,1,no
93414,ffff5962728ec6157033ef9805bacc48,1,1,no
93415,ffffd2657e2aad2907e67c3e9daecbeb,1,1,no

In [93]:
customer.columns = ['customer_unique_id', 'banyak_customer_id', 'banyak_order_purchase_timestamp','Repeat_Order']
customer

,customer_unique_id,banyak_customer_id,banyak_order_purchase_timestamp,Repeat_Order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,1,no
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,1,no
2,0000f46a3911fa3c0805444483337064,1,1,no
3,0000f6ccb0745a6a4b88665a16c9f078,1,1,no
4,0004aac84e0df4da2b147fca70cf8255,1,1,no
...,...,...,...,...
93411,fffcf5a5ff07b0908bd4e2dbc735a684,1,1,no
93412,fffea47cd6d3cc0a88bd621562a9d061,1,1,no
93413,ffff371b4d645b6ecea244b27531430a,1,1,no
93414,ffff5962728ec6157033ef9805bacc48,1,1,no
93415,ffffd2657e2aad2907e67c3e9daecbeb,1,1,no

In [94]:
sales_marketing_repeat_order = pd.merge(sales_marketing, customer,
                               how='left',
                               on='customer_unique_id')
sales_marketing_repeat_order

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,month_of_purchase,weekday_of_purchase,hour_of_purchase,part_of_day_of_purchase,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating,RFM_Rating,Customer_Label,banyak_customer_id,banyak_order_purchase_timestamp,Repeat_Order
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Tuesday,15:05,afternoon,1826.0,1970.0,Graduation,Divorced,"$84,835.00",6/16/14,0.0,189.0,104.0,379.0,111.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,783.0,5,3,1,3.0,new_customers,1,1,no
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,1.0,1961.0,Graduation,Single,"$57,091.00",6/15/14,0.0,464.0,5.0,64.0,7.0,7.0,5.0,0.0,0.0,0.0,0.0,1.0,540.0,5,3,2,3.0,potential_loyalists,1,1,no
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,10476.0,1958.0,Graduation,Married,"$67,267.00",5/13/14,0.0,134.0,11.0,59.0,15.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,219.0,5,2,1,3.0,new_customers,1,1,no
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Sunday,20:11,evening,1386.0,1967.0,Graduation,Together,"$32,474.00",5/11/14,0.0,10.0,0.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,0.0,11.0,5,1,1,2.0,new_customers,1,1,no
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,February,Saturday,19:45,evening,5371.0,1989.0,Graduation,Single,"$21,474.00",4/8/14,0.0,6.0,16.0,24.0,11.0,3.0,7.0,1.0,0.0,0.0,0.0,0.0,57.0,5,1,1,2.0,new_customers,1,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP,July,Monday,22:08,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR,August,Wednesday,18:58,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP,August,Monday,12:37,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR,August,Saturday,20:59,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP,November,Tuesday,12:04,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no

In [96]:
ab_result = pd.read_excel('ab_test_result.xlsx')
ab_result

,date_ab_test,control_visit,treatment_visit,control_converted,treatment_converted,control_converted_rate,treatment_converted_rate,p_value,power
0,2017-01-02,2894,2889,362,348,0.125086,0.120457,0.592186,0.083522
1,2017-01-03,9578,9599,1122,1110,0.117143,0.115637,0.745064,0.062217
2,2017-01-04,16233,16228,1932,1883,0.119017,0.116034,0.404180,0.132753
3,2017-01-05,22771,22814,2733,2641,0.120021,0.115762,0.158646,0.291715
4,2017-01-06,29455,29658,3511,3489,0.119199,0.117641,0.557845,0.090324
5,2017-01-07,36133,36361,4316,4265,0.119448,0.117296,0.369942,0.146265
6,2017-01-08,42902,43156,5121,5086,0.119365,0.117852,0.492331,0.105681
7,2017-01-09,49627,49870,5927,5880,0.119431,0.117907,0.457241,0.115484
8,2017-01-10,56372,56648,6690,6738,0.118676,0.118945,0.888844,0.052248
9,2017-01-11,63159,63414,7498,7523,0.118716,0.118633,0.963503,0.050240
10,2017-01-12,69774,70121,8307,8343,0.119056,0.118980,0.965077,0.050220
11,2017-01-13,76423,76710,9086,9077,0.118891,0.118329,0.733720,0.063384
12,2017-01-14,83058,83404,9928,9876,0.119531,0.118412,0.480630,0.108771
13,2017-01-15,89867,90044,10751,10633,0.119632,0.118087,0.311124,0.173401
14,2017-01-16,96550,96688,11567,11428,0.119803,0.118195,0.274866,0.193937
15,2017-01-17,103241,103319,12385,12272,0.119962,0.118778,0.406532,0.131920
16,2017-01-18,109819,110026,13205,13107,0.120243,0.119126,0.419850,0.127307
17,2017-01-19,116484,116654,14000,13887,0.120188,0.119044,0.394807,0.136247
18,2017-01-20,123110,123421,14763,14684,0.119917,0.118975,0.470737,0.111480
19,2017-01-21,129933,130073,15622,15456,0.120231,0.118826,0.269312,0.197366
20,2017-01-22,136608,136821,16418,16251,0.120183,0.118776,0.256515,0.205717
21,2017-01-23,143391,143549,17272,17065,0.120454,0.118879,0.193835,0.255100
22,2017-01-24,147202,147276,17723,17514,0.120399,0.118920,0.216126,0.235568

In [99]:
sales_marketing_repeat_order_ab_test = pd.merge(sales_marketing_repeat_order, ab_result,
                                       how='outer',
                                       left_index=True,
                                       right_index=True)
sales_marketing_repeat_order_ab_test

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,month_of_purchase,weekday_of_purchase,hour_of_purchase,part_of_day_of_purchase,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Monetary,Recency_Rating,Monetary_Rating,Frequency_Rating,RFM_Rating,Customer_Label,banyak_customer_id,banyak_order_purchase_timestamp,Repeat_Order,date_ab_test,control_visit,treatment_visit,control_converted,treatment_converted,control_converted_rate,treatment_converted_rate,p_value,power
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Tuesday,15:05,afternoon,1826.0,1970.0,Graduation,Divorced,"$84,835.00",6/16/14,0.0,189.0,104.0,379.0,111.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,783.0,5,3,1,3.0,new_customers,1,1,no,2017-01-02,2894.0,2889.0,362.0,348.0,0.125086,0.120457,0.592186,0.083522
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,1.0,1961.0,Graduation,Single,"$57,091.00",6/15/14,0.0,464.0,5.0,64.0,7.0,7.0,5.0,0.0,0.0,0.0,0.0,1.0,540.0,5,3,2,3.0,potential_loyalists,1,1,no,2017-01-03,9578.0,9599.0,1122.0,1110.0,0.117143,0.115637,0.745064,0.062217
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,7fc63200f12eebb5f387856afdd63db8,1,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,2,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,November,Thursday,00:50,night,10476.0,1958.0,Graduation,Married,"$67,267.00",5/13/14,0.0,134.0,11.0,59.0,15.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,219.0,5,2,1,3.0,new_customers,1,1,no,2017-01-04,16233.0,16228.0,1932.0,1883.0,0.119017,0.116034,0.404180,0.132753
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,251191809e37c1cffc16865947c18a4d,3,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,May,Sunday,20:11,evening,1386.0,1967.0,Graduation,Together,"$32,474.00",5/11/14,0.0,10.0,0.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,0.0,11.0,5,1,1,2.0,new_customers,1,1,no,2017-01-05,22771.0,22814.0,2733.0,2641.0,0.120021,0.115762,0.158646,0.291715
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,f7123bac5b91a0e2e38d8b41fd1206f4,4,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,February,Saturday,19:45,evening,5371.0,1989.0,Graduation,Single,"$21,474.00",4/8/14,0.0,6.0,16.0,24.0,11.0,3.0,7.0,1.0,0.0,0.0,0.0,0.0,57.0,5,1,1,2.0,new_customers,1,1,no,2017-01-06,29455.0,29658.0,3511.0,3489.0,0.119199,0.117641,0.557845,0.090324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110768,d21101a81657215bf9d86ccc3da340a1,9ba58a98da1d0abf0bd1e422e06c9051,18650,sao manuel,SP,d35703faec55cda0ceeb4f50a4d584ae,canceled,2018-07-16 22:08:56,2018-07-16 22:20:45,NaN,NaN,2018-07-30 00:00:00,2bb20c7f19a9aa625bd8e6ba9f000f27,3,NaN,2018-08-01 00:00:00,2018-08-01 15:23:32,1,4444290d1f0ec9579d5b21dc589251c0,4ce6e5f6c52515177e18c1c9361d8677,2018-07-22 22:20:45,226.60,25.67,automotivo,51.0,680.0,1.0,4150.0,68.0,12.0,68.0,9895,sao bernardo do campo,SP,July,Monday,22:08,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110769,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,2018-08-13 23:16:46,2018-08-27 00:00:00,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,2018-08-08 18:50:15,49.90,22.28,pet_shop,51.0,433.0,1.0,200.0,40.0,7.0,32.0,87015,maringa,PR,August,Wednesday,18:58,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110770,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,NaN,2018-08-27 00:00:00,274e38de8990f74fc03894fa488b5cd5,3,NÃO TENHO COMO AVALIAR POIS AINDA NÃO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,2018-08-24 15:34:56,730.00,45.98,casa_construcao,42.0,2129.0,1.0,15008.0,47.0,31.0,51.0,9861,sbc,SP,August,Monday,12:37,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110771,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,2018-08-28 18:16:44,2018-09-10 00:00:00,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,2018-08-21 21:10:13,135.98,88.46,ferramentas_jardim,55.0,835.0,8.0,3211.0,36.0,53.0,22.0,83015,sao jose dos pinhais,PR,August,Saturday,20:59,evening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110772,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,2017-12-19 19:37:33,2017-12-12 00:00:00,603f2873842a6975a43c54d305397d69,1,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,2017-11-24 12:15:25,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0,12914,braganca paulista,SP,November,Tuesday,12:04,afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,no,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN